/* 
-----------------------------------------------------------------
Button Container
-----------------------------------------------------------------
*/

.btn-container {
	font-size: 0;
	margin-bottom: $container-margin-bottom;

	.btn {
		margin-right: 1rem;
	}

	&.u-pull--right .btn {
		margin-left: 1rem;
	}

	&--no-margin {
		margin-bottom: 0;
	}
}

/* 
-----------------------------------------------------------------
Button Styles
-----------------------------------------------------------------
*/

.btn {
	border-width: $border-thick;
	font-weight: $font-weight-semi;
	line-height: $line-height;
	border: none;
	cursor: pointer;
	display: inline-block;
	text-transform: uppercase;
	letter-spacing: 1px;
	box-shadow: 0 4px 6px rgba(50,50,93,0.11), 0 1px 3px rgba(0,0,0,0.08);
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
	-webkit-font-smoothing: antialiased;
	backface-visibility: hidden;
	transform: translateZ(0);
	@include transition(0.2s, ease);
	@include btn-styles($default-color, $default-states-color);

	&:hover,
	&:focus {
		@include opacity(1);
		outline: 0 !important;
		-webkit-filter: blur(0);
		transform: translateY(-2px);
	}

	&:active,
	&--active,
	.open > &.dropdown-toggle {
		outline: 0 !important;
	}

	&:disabled,
	&[disabled],
	&--disabled {
		@include opacity(0.5);
	}

	&__icon {
		border-radius: 50%;
		font-size: $btn-icon-font-size;
		height: $btn-icon-size;
		margin: auto;
		min-width: $btn-icon-size;
		width: $btn-icon-size;
		padding: 0;
		overflow: hidden;
		position: relative;
		line-height: normal;
	}

	/* Button Color */
	&--default {
		@include btn-styles($default-color, $default-states-color);
	}

	&--primary {
		@include btn-styles($primary-color, $primary-states-color);
	}

	&--secondary {
		@include btn-styles($success-color, $success-states-color);
	}

	&--iaa {
		@include btn-styles($iaa-blue, darken($iaa-blue, 5%));
	}

	/* Button Sizes */
	&--lg {
		@include btn-size($padding-large-vertical, $padding-large-horizontal, $font-size-base, $border-radius-large);
	}

	&--md {
		@include btn-size($padding-btn-vertical, $padding-btn-horizontal, $font-size-small, $border-radius-small);
	}

	&--sm {
		@include btn-size(8px, 18px, 1.1rem, $border-radius-small);
	}

	&--xs {
		@include btn-size($padding-small-vertical, $padding-small-horizontal, $font-size-xsmall, $border-radius-small);
	}
}











