
/* Shared styles for checkbox and radio */

%input-c-r-label {
	position: relative;
	padding-left: 2.5rem;
	cursor: pointer;
	line-height: $line-height-paragraph;
	display: inline-block;
}

%input-c-r-label-before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 1.8rem;
	height: 1.8rem;
	border: 1px solid #AAAAAA;
	background: #FFFFFF;
	border-radius: 4px;
}

%input-c-r-not-checked-label-after {
	opacity: 0;
	transform: scale(1.5);
}

%input-c-r-checked-label-after {
	opacity: 1;
	transform: scale(1);
}

%input-c-r-disabled-label {
	color: #AAAAAA;
	cursor: default;
}

%input-c-r-disabled-label-before {
	box-shadow: none;
	border-color: #BBBBBB;
	background-color: #DDDDDD;
}

/* 
-----------------------------------------------------------------
Checkbox
-----------------------------------------------------------------
*/

.checkbox {
	&-group {
		margin-bottom: $margin-b-md;
	}

	&--inline {
		display: inline-block;
		margin-right: 30px;
	}

	&__label {
		color: $label-gray;
		font-size: $font-size-base;
		text-transform: none;
		letter-spacing: 0;
		font-weight: $font-weight-normal;
		line-height: $line-height;
	}

	&__input {
		position: relative;
		top: 0.2rem;

		&:not(:checked),
		&:checked {
			display: none;

			& + label {
				@extend %input-c-r-label;

				&:before {
					@extend %input-c-r-label-before;
				}

				&:after {
					content: "";
					width: 2rem;
					height: 2rem;
					background: url("data:image/svg+xml,%3Csvg viewBox='0 0 18 18' width='18px' height='18px' xmlns='http://www.w3.org/2000/svg' fill-rule='evenodd' clip-rule='evenodd' stroke-linejoin='round' stroke-miterlimit='1.414'%3E%3Cpath d='M18 3.498L9.23 14.255l-2 2.613-2.46-2.152L0 10.876 2.154 8.26l4.615 3.996L15.384 1.5 18 3.498z' fill='%23238723'/%3E%3C/svg%3E") no-repeat 0.1rem 0.1rem;
					background-size: 1.6rem 1.6rem;
					position: absolute;
					left: 0;
					top: 0;
					transition: all 0.2s ease;
				}
			}
		}
		
		&:disabled {
			&:checked + label:after {
				background: #999999;
			}

			& + label {
				@extend %input-c-r-disabled-label;
			}

			&:not(:checked) + label:before,
			&:checked + label:before {
				@extend %input-c-r-disabled-label-before;
			}

			&:checked + label:after {
				background: url("data:image/svg+xml,%3Csvg viewBox='0 0 18 18' width='18px' height='18px' xmlns='http://www.w3.org/2000/svg' fill-rule='evenodd' clip-rule='evenodd' stroke-linejoin='round' stroke-miterlimit='1.414'%3E%3Cpath d='M18 3.498L9.23 14.255l-2 2.613-2.46-2.152L0 10.876 2.154 8.26l4.615 3.996L15.384 1.5 18 3.498z' fill='%23434343'/%3E%3C/svg%3E") no-repeat 0.1rem 0.1rem;
				background-size: 1.6rem 1.6rem;
				opacity: 0.5;
				color: #999999;
			}
		}

		&:not(:checked) + label:after {
			@extend %input-c-r-not-checked-label-after;
		}

		&:checked + label:after {
			@extend %input-c-r-checked-label-after;
		}
	}
}

fieldset[disabled] .radio__label,
fieldset[disabled] .checkbox__label {
	cursor: default;
	color: #AAAAAA;
}

/* 
-----------------------------------------------------------------
Radio
-----------------------------------------------------------------
*/

.radio {
	&-group {
		@extend .checkbox-group;
	}

	&--inline {
		@extend .checkbox--inline;
	}

	&__label {
		@extend .checkbox__label;
	}

	&__input {
		&:not(:checked),
		&:checked {
			display: none;

			& + label {
				@extend %input-c-r-label;

				&:before {
					@extend %input-c-r-label-before;
					border-radius: 50%;
					width: 1.8rem;
					height: 1.8rem;
				}

				&:after {
					content: "";
					position: absolute;
					font-size: $font-size-large;
					line-height: $line-height-sm;
					color: $iaa-green;
					transition: all 0.2s ease;
					width: 1rem;
					height: 1rem;
					display: block;
					border-radius: 50%;
					background: #238723;
					top: 0.4rem;
					left: 0.4rem;
				}
			}
		}

		&:disabled {
			&:checked + label:after {
				background: #999999;
			}

			& + label {
				@extend %input-c-r-disabled-label;
			}

			&:not(:checked) + label:before,
			&:checked + label:before {
				@extend %input-c-r-disabled-label-before;
			}
		}

		&:not(:checked) + label:after {
			@extend %input-c-r-not-checked-label-after;
		}

		&:checked + label:after {
			@extend %input-c-r-checked-label-after;
		}

	}
}

