/* 
-----------------------------------------------------------------
Dropdown
-----------------------------------------------------------------
*/

.dropdown {
	position: relative;

	&__caret {
		display: inline-block;
		width: 0;
		height: 0;
		margin-left: 2px;
		vertical-align: middle;
		border-top: 4px dashed;
		border-right: 4px solid transparent;
		border-left: 4px solid transparent;
	}

	&__menu {	
		visibility: hidden;
		position: absolute;
		top: 100%;
		left: 0;
		z-index: 1000;
		display: none;
		float: left;
		min-width: 16rem;
		padding: 0.5rem 0;
		margin: 0.2rem 0 0;
		list-style: none;
		background-color: #FFFFFF;
		background-clip: padding-box;
		box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.2);
		@include transition($fast-transition-time, $transition-linear);
		@include transform-translate-y(-25px);
		@include opacity(0);

		&--right {
			left: auto;
			right: 0;

			&:before {
				left: auto;
				right: 10px;
			}
		}

		&:before {
			display: inline-block;
			position: absolute;
			width: 0;
			height: 0;
			vertical-align: middle;
			content: "";
			top: -5px;
			left: 10px;
			right: auto;
			color: $white-color;
			border-bottom: 0.4em solid;
			border-right: 0.4em solid transparent;
			border-left: 0.4em solid transparent;
		}

		&__header:not([href]):not([tabindex]) {
			color: $default-color-opacity;
			font-size: $font-size-mini;
			text-transform: uppercase;
			font-weight: $font-weight-bold;
			display: block;
			padding: 6px 20px 3px 20px;
		}

		&--toggle:focus {
			outline: 0;
		}

		&__caret {
			display: inline-block;
			width: 0;
			height: 0;
			margin-left: 2px;
			vertical-align: middle;
			border-top: 4px dashed;
			border-right: 4px solid transparent;
			border-left: 4px solid transparent;
		}

		&.u-pull--right {
			right: 0;
			left: auto;
		}

		&__divider {
			height: 1px;
			margin: 5px 0;
			overflow: hidden;
			background-color: #E5E5E5;
		}
		
		&__item > a {
			display: block;
			padding: 6px 20px;
			clear: both;
			font-weight: normal;
			line-height: 1.42857143;
			color: #333333;
			white-space: nowrap;

			&:hover,
			&:focus {
				text-decoration: none;
				color: #262626;
				background-color: #F5F5F5;
			}
		}

		&__item--active {
			& > a,
			& > a:hover,
			& > a:focus {
				color: #FFFFFF;
				text-decoration: none;
				outline: 0;
				background-color: #337AB7;
			}
		}
	}

	&.open {
		.dropdown__menu {
			display: block;
			@include opacity(1);
			visibility: visible;
			@include transform-translate-y(0);

			& > a {
				outline: 0;
			}
		}
	}
}

.dropdown-backdrop {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	z-index: 990;
}

.u-pull--right > .dropdown__menu {
	right: 0;
	left: auto;
}

@media (min-width: 768px) {
	.navbar-right .dropdown-menu {
		left: auto;
		right: 0;
	}
	.navbar-right .dropdown-menu-left {
		left: 0;
		right: auto;
	}
}




