/* 
-----------------------------------------------------------------
Form Inputs
-----------------------------------------------------------------
*/

.form {

	/* Container */

	&__item {
		margin-bottom: $margin-b-lg;
	}
	
	/* Form Label */

	&__label {
		display: block;
		font-weight: $font-weight-bold;
		color: $label-gray;
		font-size: $font-size-xsmall;
		letter-spacing: 1px;
		text-transform: uppercase;
		line-height: $line-height-sm;

		.is-required {
			color: #A20106;
		}
	}

	&__legend {
		font-weight: $font-weight-bold;
	}

	&__control {
		display: block;
		height: 3.6rem;
		width: 100%;
		padding: 0.5rem 1rem;
		font-size: $font-size-base;
		text-align: left;
		line-height: $line-height;
		color: $iaa-black;
		background-color: $white-color;
		background-image: none;
		border: 1px solid $iaa-light-gray;
		border-radius: 4px;
		overflow: hidden;
		box-sizing: border-box;
		transition: border-color ease-in-out 0.15s, background-color ease-in-out 0.25s;

		&:hover {
			border-color: $iaa-dark-gray;
			background-color: #F3F8FC;
		}

		&:focus {
			border-color: $iaa-blue;
			box-shadow: 0 0 1px rgba(0, 0, 0, 0.075) inset;
			outline: 0 none;
			background-color: #F3F8FC;
		}

		&::-ms-clear {
			display: none;
		}

		&.has-error {
			border: 1px solid $iaa-red;
		}

		&[disabled],
		&[readonly],
		fieldset[disabled] & {
			background-color: #F1F1F3;
			border: 1px solid #C6C9CC;
			box-shadow: none;
			color: #95989C;
			cursor: not-allowed;
			@include opacity(0.8);
		}
	}

	/* Validation Error */ 

	&__error-message {
		font-size: $font-size-small;
		color: $iaa-red;
		display: inline-block;
	}
	
	/* Input Group */

	&__addon {
		height: 3.6rem;
		display: inline-block;
		padding: 0.65rem 1.5rem;
		text-align: center;
		background-color: #EEEEEE;
		border: 1px solid #CCCCCC;
	}

	&__group {
		margin-bottom: $margin-b-lg;
		display: flex;
		
		& > * {
			border-radius: 0;
			border-right-color: transparent;

			&:first-child {
				border-radius: 4px 0 0 4px;
			}

			&:last-child {
				border-radius: 0 4px 4px 0;
				border-color: #CCCCCC;

				&:hover {
					border-color: #87898C;
					background-color: #F3F8FC;
				}

				&:focus {
					border-color: $iaa-blue;
					box-shadow: 0 0 1px rgba(0, 0, 0, 0.075) inset;
					outline: 0 none;
					background-color: #F3F8FC;
				}
			}
		}
	}	
}

/* Textarea */

textarea.form__control {
	height: auto;
}




