/* Redo in Flexbox ?? */

.list-view {
	display: table;
	width: 100%;
	background: #FFFFFF;
	border: 1px solid #DDDDDD;
}
.list-shadow {
	box-shadow: 0 0.2rem 0.3rem 0 rgba(0, 0, 0, 0.2);
	border: none;
}
.list-row {
	display: table-row;
}
.list-item {
	display: table-cell;
	padding: 1.5rem;
	border-bottom: 1px solid #DDDDDD;
	vertical-align: top;
}
.list-row:last-child .list-item {
	border-bottom: 0;
}
.list-header {
	background: #656565;
	color: #FFFFFF;
	height: 3.6rem;
}
.list-header .list-item {
	border-bottom: 0;
	vertical-align: middle;
	padding: 1rem 1.5rem;
}
.list-header input[type="checkbox"] + label {
	font-size: 1rem;
	letter-spacing: 0.1rem;
	font-weight: 700;
	text-transform: uppercase;
	vertical-align: top;
	margin: 0.2rem 0 0 0;
}
.list-header input[type="checkbox"] + label {
	top: -0.2rem;
}
.list-header h6 {
	margin-bottom: 0;
	font-size: 1rem;
	letter-spacing: 0.1rem;
	font-weight: 700;
	text-transform: uppercase;
}
.list-header .list-checkbox {
	width: 5rem;
	vertical-align: top;
}
.list-header .list-img {
	width: 12rem;
}
.list-view input[type="checkbox"]:not(:checked) + label,
.list-view input[type="checkbox"]:checked + label {
	padding-left: 0;
	margin-bottom: 1.5rem;
}

/* Light header List View */

.list-view.list-light .list-header {
	background: #F2F2F2;
	color: #434343;
}