/* 
-----------------------------------------------------------------
Modals
-----------------------------------------------------------------
*/

.modal {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 9990;
	display: none;
	overflow: hidden;
	-webkit-overflow-scrolling: touch;
	outline: 0;

	&.fade .modal__dialog {
		-webkit-transition: -webkit-transform 0.3s ease-out;
		     -o-transition:      -o-transform 0.3s ease-out;
		        transition:         transform 0.3s ease-out;
		-webkit-transform: scale(0.75);
		    -ms-transform: scale(0.75);
		     -o-transform: scale(0.75);
		        transform: scale(0.75);
	}

	&.in .modal__dialog {
		-webkit-transform: scale(1);
		    -ms-transform: scale(1);
		     -o-transform: scale(1);
		        transform: scale(1);
	}

	/* Modal Header */

	&__header {
		padding: 2rem 2rem 1rem 2rem;
		flex: none;
	}

	&__title {
		line-height: 1;
		margin: 0;
	}

	/* Modal Body */

	&__body {
		position: relative;
		padding: 1rem 2rem;
		max-height: 65vh;
		overflow: auto;

		&--no-pad {
			padding: 0;

			& > div {
				padding: 2rem;
			}
		}
	}

	&__dialog {
		position: relative;
		width: auto;
		height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		overflow: auto;
		margin: 0rem auto;
	}

	&__content {
		position: relative;
		background-color: #FFFFFF;
		display: flex;
		flex-direction: column;
		-webkit-background-clip: padding-box;
		        background-clip: padding-box;
		-webkit-border-radius: $border-radius-small;
		        border-radius: $border-radius-small;
		border: none;
		outline: 0;
		-webkit-box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.5);
		        box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.5);
	}

	/* Modal Footer */

	&__footer {
		padding: 1rem 2rem 2rem 2rem;
		text-align: right;
		overflow: auto;
		flex: none;

		.btn-container {
			margin-bottom: 0;
		}

		.btn + .btn {
			margin-bottom: 0;
			margin-left: 0.5rem;
		}
	}
}

/* Animations */

.fade {
	opacity: 0;
	-webkit-transition: opacity 0.15s linear;
	     -o-transition: opacity 0.15s linear;
	        transition: opacity 0.15s linear;
}

.fade.in {
	opacity: 1;
}

/* Bootstrap JS Classes */

.modal-open { /* Removes body scrollbar when modal is open */
	overflow: hidden;

	& .modal {
		overflow-x: hidden;
		overflow-y: auto;
	}
}

.modal-backdrop {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1000;
	background-color: #000000;

	&.fade {
		@include opacity(0);
	}

	&.in {
		@include opacity(0.45);
	}
}


@media (min-width: 768px) {
	.modal__dialog {
		width: 100%;
		max-width: 64rem;
		margin: auto;
	}

	.modal--fade.modal--left .modal__dialog {
		-webkit-transform: translateX(-64rem);
		    -ms-transform: translateX(-64rem);
		     -o-transform: translateX(-64rem);
		        transform: translateX(-64rem);
	}

	.modal--fade.modal--right .modal__dialog {
		-webkit-transform: translateX(64rem);
		    -ms-transform: translateX(64rem);
		     -o-transform: translateX(64rem);
		        transform: translateX(64rem);
	}

	.modal__dialog.modal--sm {
		max-width: 48rem;
	}

	.modal--fade.modal--left .modal__dialog.modal--sm {
		-webkit-transform: translateX(-48rem);
		    -ms-transform: translateX(-48rem);
		     -o-transform: translateX(-48rem);
		        transform: translateX(-48rem);
	}

	.moda--fade.modal--right .modal__dialog.modal--sm {
		-webkit-transform: translateX(48rem);
		    -ms-transform: translateX(48rem);
		     -o-transform: translateX(48rem);
		        transform: translateX(48rem);
	}

	.modal__dialog.modal--md {
		max-width: 76.8rem;
	}

	.modal--fade.modal--left .modal__dialog.modal--md {
		-webkit-transform: translateX(-78.6rem);
		    -ms-transform: translateX(-78.6rem);
		     -o-transform: translateX(-78.6rem);
		        transform: translateX(-78.6rem);
	}

	.modal--fade.modal--right .modal__dialog.modal--md {
		-webkit-transform: translateX(78.6rem);
		    -ms-transform: translateX(78.6rem);
		     -o-transform: translateX(78.6rem);
		        transform: translateX(78.6rem);
	}

	.modal__dialog.modal--lg {
		max-width: 96rem;
	}

	.modal--fade.modal--left .modal__dialog.modal--lg {
		-webkit-transform: translateX(-96rem);
		    -ms-transform: translateX(-96rem);
		     -o-transform: translateX(-96rem);
		        transform: translateX(-96rem);
	}

	.modal--fade.modal--right .modal__dialog.modal--lg {
		-webkit-transform: translateX(96rem);
		    -ms-transform: translateX(96rem);
		     -o-transform: translateX(96rem);
		        transform: translateX(96rem);
	}

	.modal__dialog.modal--xl {
		max-width: 120rem;
	}

	.modal--fade.modal--left .modal__dialog.modal--xl {
		-webkit-transform: translateX(-120rem);
		    -ms-transform: translateX(-120rem);
		     -o-transform: translateX(-120rem);
		        transform: translateX(-120rem);
	}

	.modal--fade.modal--right .modal__dialog.modal--xl {
		-webkit-transform: translateX(120rem);
		    -ms-transform: translateX(120rem);
		     -o-transform: translateX(120rem);
		        transform: translateX(120rem);
	}

	.modal__content {
		-webkit-box-shadow: 0 0 2rem rgba(0, 0, 0, 0.25);
		        box-shadow: 0 0 2rem rgba(0, 0, 0, 0.25);
	}
}

/* Alternative Modal Options */
.modal--fade.modal--left .modal__dialog, 
.modal--fade.modal--right .modal__dialog {
	flex-direction: row;
	overflow: visible;
	margin: 0;
	position: fixed;
	top: 0;
}

.modal--fade.modal--left .modal__dialog {
	left: 0;
}

.modal--fade.modal--right .modal__dialog {
	right: 0;
}

.modal--fade.modal--left .modal__dialog, 
.modal--fade.modal--right .modal__dialog,
.modal--fade.modal--bottom .modal__dialog,
.modal--fade.modal--top .modal__dialog {
	-webkit-transition: -webkit-transform 0.3s ease-out;
	     -o-transition:      -o-transform 0.3s ease-out;
	        transition:         transform 0.3s ease-out;
}

.modal--fade.modal--left.in .modal__dialog, 
.modal--fade.modal--right.in .modal__dialog {
	-webkit-transform: translateX(0);
	    -ms-transform: translateX(0);
	     -o-transform: translateX(0);
	        transform: translateX(0);
}

.modal--bottom,
.modal--top {
	overflow: hidden;
}

.modal--bottom .modal__dialog, 
.modal--top .modal__dialog {
	width: 100%;
}

.modal--half .modal__dialog {
	height: 50vh;
}

.modal--full .modal__dialog {
	height: 100vh;
}

.modal--fade.modal--bottom .modal__dialog {
	-webkit-transform: translateY(100vh);
	    -ms-transform: translateY(100vh);
	     -o-transform: translateY(100vh);
	        transform: translateY(100vh);
}

.modal--fade.modal--bottom.modal--half.in .modal__dialog {
	-webkit-transform: translateY(50vh);
	    -ms-transform: translateY(50vh);
	     -o-transform: translateY(50vh);
	        transform: translateY(50vh);
}

.modal--fade.modal--bottom.modal--full.in .modal__dialog {
	-webkit-transform: translateY(0vh);
	    -ms-transform: translateY(0vh);
	     -o-transform: translateY(0vh);
	        transform: translateY(0vh);
}

.modal--fade.modal--top.modal--half .modal__dialog {
	-webkit-transform: translateY(-50vh);
	    -ms-transform: translateY(-50vh);
	     -o-transform: translateY(-50vh);
	        transform: translateY(-50vh);
}

.modal--fade.modal--top.modal--full .modal__dialog {
	-webkit-transform: translateY(-100vh);
	    -ms-transform: translateY(-100vh);
	     -o-transform: translateY(-100vh);
	        transform: translateY(-100vh);
}

.modal--fade.modal--top.modal--half.in .modal__dialog,
.modal--fade.modal--top.modal--full.in .modal__dialog {
	-webkit-transform: translateY(0vh);
	    -ms-transform: translateY(0vh);
	     -o-transform: translateY(0vh);
	        transform: translateY(0vh);
}

.modal--left .modal__content, 
.modal--bottom .modal__content,
.modal--top .modal__content,
.modal--right .modal__content {
	border: none;
	box-shadow: 0 0 1.5rem rgba(0,0,0,0.2);
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
	-webkit-border-radius: 0;
	        border-radius: 0;
}

.modal--left .modal__body, 
.modal--bottom .modal__body, 
.modal--top .modal__body, 
.modal--right .modal__body {
	max-height: none;
	flex-grow: 1;
}

.modal--left .modal__header, 
.modal--left .modal__footer, 
.modal--bottom .modal__header, 
.modal--bottom .modal__footer,
.modal--top .modal__header, 
.modal--top .modal__footer, 
.modal--right .modal__header, 
.modal--right .modal__footer {
	flex: none;
}
