/* 
-----------------------------------------------------------------
Navs
-----------------------------------------------------------------
*/

.nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;

    &__link {
        display: block;
        padding: 0.5rem 1rem;

        &:focus,
        &:hover {
            text-decoration: none;
        }

        &.is-active {
            font-weight: $font-weight-semi;
        }

        &.is-disabled {
            color: #868e96;
            cursor: not-allowed;
        }
        
        /* Dropdown on nav */

        &.dropdown {
            
        }
    }

    /* Full width nav */

    &--fill {
        .nav__item {
            flex: 1 1 auto;
            text-align: center;
        }
    }
}
