/* Mixin for generating new styles */
@mixin btn-styles($btn-color, $btn-states-color) {
	background-color: $btn-color;
	box-shadow: 0 2px 0 darken($btn-color, 10%),
	inset 0 1px 0 rgba(255, 255, 255, 0.3),
	0 2px 8px rgba(0, 0, 0, 0.4);

	&.btn--no-shadow {
		box-shadow: 0 2px 0 darken($btn-color, 10%),
		inset 0 1px 0 rgba(255, 255, 255, 0.3);
	}

	&:hover,
	&:focus,
	&:active,
	&.active,
	&:active:focus,
	&:active:hover,
	&.active:focus,
	&.active:hover,
	.open > &.dropdown-toggle,
	.open > &.dropdown-toggle:focus,
	.open > &.dropdown-toggle:hover {
		background-color: $btn-states-color;
		color: $white-color;
		text-decoration: none;
	}

	&.disabled,
	&:disabled,
	&[disabled],
	fieldset[disabled] & {
		&,
		&:hover,
		&:focus,
		&.focus,
		&:active,
		&.active {
			background-color: $btn-color;
			border-color: $btn-color;
		}
	}

	/*// btn-neutral style*/
	@if $btn-color == $white-color {
		color: $primary-color;

		&.active,
		&:active:focus,
		&:active:hover,
		&.active:focus,
		&.active:hover,
		.open > &.dropdown-toggle,
		.open > &.dropdown-toggle:focus,
		.open > &.dropdown-toggle:hover {
			background-color: $white-color;
			color: $primary-color;
		}

		&:hover,
		&:focus,
		&:active {
			color: $primary-states-color;
		}
	} @else {
		color: $white-color;
	}
}

/* Sizes Mixin */
@mixin btn-size($padding-vertical, $padding-horizontal, $font-size, $border) {
	font-size: $font-size;
	border-radius: 3px;
	padding: $padding-vertical $padding-horizontal;

	&.btn-simple {
		padding: $padding-vertical - 1 $padding-horizontal - 1;
	}
}
