/* ===================================
    Google font
====================================== */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);
@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700);

/*//== Buttons
//
//## For each of Bootstrap's buttons, define text, background and border color.*/

/*$white-color: #FFFFFF !default;
$white-bg: #FFFFFF !default;
$orange-bg: #E95E38 !default;
$smoke-bg: #F5F5F5 !default;
$black-bg: rgba(30,30,30,0.97) !default;
$black-hr: #444444 !default;
$light-gray: #E3E3E3 !default;
$medium-gray: #DDDDDD !default;
$dark-gray: #9A9A9A !default;
$opacity-gray-3: rgba(222,222,222, 0.3) !default;
$opacity-gray-5: rgba(222,222,222, 0.5) !default;
$opacity-5: rgba(255,255,255, 0.5) !default;
$opacity-8: rgba(255,255,255, 0.8) !default;
$datepicker-color-days: rgba(255,255,255, 0.8)  !default;
$datepicker-color-old-new-days: rgba(255,255,255, 0.4)  !default;
$opacity-1: rgba(255,255,255, 0.1) !default;
$opacity-2: rgba(255,255,255, 0.2) !default;

$dark-background: #555555 !default;



$success-color-alert: rgba(24, 206, 15, 0.8) !default;
$info-color: #2CA8FF !default;
$info-states-color: #109CFF !default;
$info-color-opacity: rgba(44, 168, 255, 0.3) !default;
$info-color-alert: rgba(44, 168, 255, 0.8) !default;
$warning-color: #FFB236 !default;
$warning-states-color: darken($warning-color, 5%) !default;
$warning-color-opacity: rgba(255, 178, 54, 0.3) !default;
$warning-color-alert: rgba(255, 178, 54, 0.8) !default;
$danger-color: #FF3636 !default;
$danger-states-color: darken($danger-color, 5%) !default;
$danger-color-opacity: rgba(255, 54, 54, 0.3) !default;
$danger-color-alert: rgba(255, 54, 54, 0.8) !default;*/

/*     brand Colors              */
/*$brand-primary: $primary-color !default;
$brand-info: $info-color !default;
$brand-success: $success-color !default;
$brand-warning: $warning-color !default;
$brand-danger: $danger-color !default;
$link-disabled-color: #666666 !default;*/

/*      light colors         */
/*$light-blue: rgba($primary-color, 0.2);
$light-azure: rgba($info-color, 0.2);
$light-green: rgba($success-color, 0.2);
$light-orange: rgba($warning-color, 0.2);
$light-red: rgba($danger-color, 0.2);
*/
/* Components */

$padding-input-vertical: 11px !default;
$padding-input-horizontal: 19px !default;
$padding-btn-vertical: 11px !default;
$padding-btn-horizontal: 22px !default;
$padding-base-vertical: 0.5rem !default;
$padding-base-horizontal: 0.7rem !default;
$padding-round-horizontal: 23px !default;
$padding-simple-vertical: 10px !default;
$padding-simple-horizontal: 17px !default;
$padding-large-vertical: 15px !default;
$padding-large-horizontal: 48px !default;
$padding-small-vertical: 5px !default;
$padding-small-horizontal: 15px !default;
$padding-xs-vertical: 1px !default;
$padding-xs-horizontal: 5px !default;
$padding-label-vertical: 2px !default;
$padding-label-horizontal: 12px !default;
$margin-large-vertical: 30px !default;
$margin-base-vertical: 15px !default;
$margin-base-horizontal: 15px !default;
$margin-bottom: 10px        !default;
$btn-round-radius: 30px         !default;
$height-base: 55px         !default;
$btn-icon-font-size: 24px        !default;
$btn-icon-size: 56px        !default;
$btn-icon-size-mini: 36px        !default;
$btn-icon-font-size-mini: 14px        !default;
$border-radius-top: 10px 10px 0 0     !default;
$border-radius-bottom: 0 0 10px 10px     !default;
$dropdown-shadow: 1px 2px 3px rgba(0, 0, 0, 0.125);
$box-shadow-raised: 0 10px 25px 0 rgba(0, 0, 0, 0.3);
$general-transition-time: 300ms             !default;
$slow-transition-time: 370ms       !default;
$dropdown-coordinates: 29px -50px       !default;
$fast-transition-time: 150ms       !default;
$select-coordinates: 50% -40px       !default;
$transition-linear: linear           !default;
$transition-bezier: cubic-bezier(0.34, 1.61, 0.7, 1) !default;
$transition-ease: ease 0s;


//$navbar-padding-a:               9px 13px;
$navbar-margin-a: 15px 0;
$padding-social-a: 10px 5px;
$navbar-margin-a-btn: 15px 0;
$navbar-margin-a-btn-round: 16px 0;
$navbar-padding-a-icons: 6px 15px;
$navbar-margin-a-icons: 6px  3px;
$navbar-padding-base: 0.625rem;
//$navbar-margin-brand:             5px  0px;

$navbar-margin-brand-icons: 12px auto;
$navbar-margin-btn: 15px  3px;
$height-icon-sm: 32px;
$width-icon-sm: 32px;
$padding-icon-sm: 4px;
$border-radius-icon-sm: 7px;
$height-icon-message: 40px;
$width-icon-message: 40px;
$height-icon-message-sm: 20px;
$width-icon-message-sm: 20px;
$white-navbar: rgba(#FFFFFF, 0.96);
$primary-navbar: rgba(#34ACDC, 0.98);
$info-navbar: rgba(#5BCAFF, 0.98);
$success-navbar: rgba(#4CD964, 0.98);
$warning-navbar: rgba(#FF9500, 0.98);
$danger-navbar: rgba(#FF4C40, 0.98);
$topbar-x: topbar-x !default;
$topbar-back: topbar-back !default;
$bottombar-x: bottombar-x !default;
$bottombar-back: bottombar-back !default;


/*//Nucleo Icons*/
/*$nc-font-path: "../fonts" !default;
$nc-font-size-base: 14px !default;
$nc-css-prefix: now-ui !default;
$nc-background-color: #EEEEEE !default;
$nc-li-width: (30em / 14) !default;
$nc-padding-width: (1em/3) !default;*/

/*// Social icons color*/
/*$social-twitter: #55ACEE !default;
$social-twitter-state-color: darken(#55ACEE, 5%) !default;
$social-facebook: #3B5998 !default;
$social-facebook-state-color: darken(#3B5998, 5%) !default;
$social-google: #DD4B39 !default;
$social-google-state-color: darken(#DD4B39, 5%) !default;
$social-linkedin: #0077B5 !default;
$social-linkedin-state-color: darken(#0077B5, 5%) !default;*/



/* 
-----------------------------------------------------------------
Custom Variables
-----------------------------------------------------------------
*/

/* Colors */

$iaa-blue: #1D67B2;
$iaa-dark-gray: #434343;
$iaa-red: #C90107;
$iaa-green: #238723;
$iaa-yellow: #FFBF00;
$iaa-black: #222222;
$iaa-light-gray: #CCCCCC;
$iaa-lightest-gray: #F2F2F2;
$label-gray: #333333;
$container-margin-bottom: 1.5rem;
$white-color: #FFFFFF !default;
$black-color: #000000 !default;   /*$black-color:                #2c2c2c !default;*/
$brand-inverse: $black-color !default;  /*Could be deleted*/
$white-bg: #FFFFFF !default;
$icon-fill-color: #434343;
$none: 0   !default;
$border-thin: 1px !default;
$border-thick: 2px !default;

$primary-color: #F96332 !default;
$primary-states-color: darken($primary-color, 5%) !default;
$success-color: #18CE0F !default;
$success-states-color: darken($success-color, 5%) !default;
$default-color: #B8B8B8 !default;
$default-states-color: darken($default-color, 5%) !default;
$default-color-opacity: rgba(182, 182, 182, 0.6) !default;
$transparent-bg: transparent !default;

/* Typography */

$sans-serif-family: "Open Sans", "Helvetica Neue",  arial, sans-serif;
$font-color-base: #222222      !default;
$font-size-h1: 3.2rem       !default;
$font-size-h2: 2.4rem       !default;
$font-size-h3: 1.8rem       !default;
$font-size-h4: 1.6rem       !default;
$font-size-h5: 1.5rem       !default;
$font-size-h6: 1.4rem       !default;
$font-paragraph: 1.4rem       !default;
$font-size-navbar: 1.4rem       !default;
$font-size-mini: 0.7142em     !default;
$font-size-xlarge: 1.8rem       !default;
$font-size-large: 1.6rem       !default;
$font-size-base: 1.4rem       !default;
$font-size-small: 1.2rem       !default;
$font-size-xsmall: 1rem       !default;
$font-size-large-navbar: 2rem         !default;
$font-size-blockquote: 1.1em        !default;

$font-weight-light: 300         !default;
$font-weight-normal: 400         !default;
$font-weight-semi: 600         !default;
$font-weight-bold: 700         !default;
$line-height-general: 1.5            !default;
$line-height-nav-link: 1.625rem       !default;
$btn-icon-line-height: 2.4em          !default;
$line-height: 1.5            !default;
$line-height-paragraph: 1.4            !default;
$line-height-sm: 1              !default;
$line-height-lg: 54px           !default;
$margin-b-xs: 0.5rem            !default;
$margin-b-sm: 1rem           !default;
$margin-b-md: 1.5rem           !default;
$margin-b-lg: 2rem           !default;
$margin-b-xl: 2.5rem           !default;
$border: 1px solid   !default;
$border-radius-extra-small: 0.125rem    !default;
$border-radius-small: 0.1875rem   !default;
$border-radius-large: 0.25rem     !default;
$border-radius-extreme: 0.875rem    !default;
$border-radius-large-top: $border-radius-large $border-radius-large 0 0 !default;
$border-radius-large-bottom: 0 0 $border-radius-large $border-radius-large !default;

/* Breakpoints */

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;






