
/* Components */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);
@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700);

/* Components */

$padding-input-vertical: 11px !default;
$padding-input-horizontal: 19px !default;
$padding-btn-vertical: 11px !default;
$padding-btn-horizontal: 22px !default;
$padding-base-vertical: 0.5rem !default;
$padding-base-horizontal: 0.7rem !default;
$padding-round-horizontal: 23px !default;
$padding-simple-vertical: 10px !default;
$padding-simple-horizontal: 17px !default;
$padding-large-vertical: 15px !default;
$padding-large-horizontal: 48px !default;
$padding-small-vertical: 5px !default;
$padding-small-horizontal: 15px !default;
$padding-xs-vertical: 1px !default;
$padding-xs-horizontal: 5px !default;
$padding-label-vertical: 2px !default;
$padding-label-horizontal: 12px !default;
$margin-large-vertical: 30px !default;
$margin-base-vertical: 15px !default;
$margin-base-horizontal: 15px !default;
$margin-bottom: 10px        !default;
$btn-round-radius: 30px         !default;
$height-base: 55px         !default;
$btn-icon-font-size: 24px        !default;
$btn-icon-size: 56px        !default;
$btn-icon-size-mini: 36px        !default;
$btn-icon-font-size-mini: 14px        !default;
$border-radius-top: 10px 10px 0 0     !default;
$border-radius-bottom: 0 0 10px 10px     !default;
$dropdown-shadow: 1px 2px 3px rgba(0, 0, 0, 0.125);
$box-shadow-raised: 0 10px 25px 0 rgba(0, 0, 0, 0.3);
$general-transition-time: 300ms             !default;
$slow-transition-time: 370ms       !default;
$dropdown-coordinates: 29px -50px       !default;
$fast-transition-time: 150ms       !default;
$select-coordinates: 50% -40px       !default;
$transition-linear: linear           !default;
$transition-bezier: cubic-bezier(0.34, 1.61, 0.7, 1) !default;
$transition-ease: ease 0s;


/* 
-----------------------------------------------------------------
Custom Variables
-----------------------------------------------------------------
*/

/* Colors */

$iaa-blue: #1D67B2;
$iaa-dark-gray: #434343;
$iaa-red: #C90107;
$iaa-green: #238723;
$iaa-yellow: #FFBF00;
$iaa-black: #222222;
$iaa-light-gray: #CCCCCC;
$iaa-lightest-gray: #F2F2F2;
$label-gray: #333333;
$container-margin-bottom: 1.5rem;
$white-color: #FFFFFF !default;
$black-color: #000000 !default;   /*$black-color:                #2c2c2c !default;*/
$brand-inverse: $black-color !default;  /*Could be deleted*/
$white-bg: #FFFFFF !default;
$icon-fill-color: #434343;
$none: 0   !default;
$border-thin: 1px !default;
$border-thick: 2px !default;
$primary-color: #F96332 !default;
$primary-states-color: darken($primary-color, 5%) !default;
$success-color: #18CE0F !default;
$success-states-color: darken($success-color, 5%) !default;
$default-color: #B8B8B8 !default;
$default-states-color: darken($default-color, 5%) !default;
$default-color-opacity: rgba(182, 182, 182, 0.6) !default;
$transparent-bg: transparent !default;

/* Typography */

$sans-serif-family: "Open Sans", "Helvetica Neue",  arial, sans-serif;
$font-color-base: #222222      !default;
$font-size-h1: 3.2rem       !default;
$font-size-h2: 2.4rem       !default;
$font-size-h3: 1.8rem       !default;
$font-size-h4: 1.6rem       !default;
$font-size-h5: 1.5rem       !default;
$font-size-h6: 1.4rem       !default;
$font-paragraph: 1.4rem       !default;
$font-size-navbar: 1.4rem       !default;
$font-size-mini: 0.7142em     !default;
$font-size-xlarge: 1.8rem       !default;
$font-size-large: 1.6rem       !default;
$font-size-base: 1.4rem       !default;
$font-size-small: 1.2rem       !default;
$font-size-xsmall: 1rem       !default;
$font-size-large-navbar: 2rem         !default;
$font-size-blockquote: 1.1em        !default;
$font-weight-light: 300         !default;
$font-weight-normal: 400         !default;
$font-weight-semi: 600         !default;
$font-weight-bold: 700         !default;
$line-height-general: 1.5            !default;
$line-height-nav-link: 1.625rem       !default;
$btn-icon-line-height: 2.4em          !default;
$line-height: 1.5            !default;
$line-height-paragraph: 1.4            !default;
$line-height-sm: 1              !default;
$line-height-lg: 54px           !default;

/* Spacing */

$margin-b-xs: 0.5rem            !default;
$margin-b-sm: 1rem           !default;
$margin-b-md: 1.5rem           !default;
$margin-b-lg: 2rem           !default;
$margin-b-xl: 2.5rem           !default;

/* Border Radius */

$border: 1px solid   !default;
$border-radius-extra-small: 0.125rem    !default;
$border-radius-small: 0.1875rem   !default;
$border-radius-large: 0.25rem     !default;
$border-radius-extreme: 0.875rem    !default;
$border-radius-large-top: $border-radius-large $border-radius-large 0 0 !default;
$border-radius-large-bottom: 0 0 $border-radius-large $border-radius-large !default;

/* Breakpoints for Navbar - Based on Bootstrap 4 */

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;


/* Flexbox Grid */

$flexboxgrid-grid-columns: 12 !default; /* Set the number of columns you want to use on your layout */
$flexboxgrid-gutter-width: 1rem !default; /* Set the gutter between columns */
$flexboxgrid-outer-margin: 1.5rem !default; /* Set a margin for the container sides */
$flexboxgrid-breakpoints: sm 576px 54rem,
	md 768px 72rem,
	lg 992px 96rem, 
	xl 1200px 114rem !default;
$flexboxgrid-max-width: 1200px !default;
$gutter-compensation: $flexboxgrid-gutter-width * 0.5 * -1;
$half-gutter-width: $flexboxgrid-gutter-width * 0.5;



