/* 
-----------------------------------------------------------------
Dropdown
-----------------------------------------------------------------
*/

.dropdown {
	position: relative;

	&__caret {
		display: inline-block;
		width: 0;
		height: 0;
		margin-left: 2px;
		vertical-align: middle;
		border-top: 4px dashed;
		border-right: 4px solid transparent;
		border-left: 4px solid transparent;
	}

	&__menu {
		visibility: hidden;
		position: absolute;
		top: 100%;
		left: 0;
		z-index: 1000;
		display: none;
		float: left;
		min-width: 16rem;
		padding: 0.5rem 0;
		margin: 0.2rem 0 0;
		list-style: none;
		background-color: #FFFFFF;
		background-clip: padding-box;
		box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.2);
		@include transition($fast-transition-time, $transition-linear);
		@include transform-translate-y(-25px);
		@include opacity(0);

		&--right {
			left: auto;
			right: 0;

			&:before {
				left: auto;
				right: 10px;
			}
		}

		&:before {
			display: inline-block;
			position: absolute;
			width: 0;
			height: 0;
			vertical-align: middle;
			content: "";
			top: -5px;
			left: 10px;
			right: auto;
			color: $white-color;
			border-bottom: 0.4em solid;
			border-right: 0.4em solid transparent;
			border-left: 0.4em solid transparent;
		}

		&.u-pull--right {
			right: 0;
			left: auto;
		}
	}

	&__header:not([href]):not([tabindex]) {
		color: $default-color-opacity;
		font-size: $font-size-mini;
		text-transform: uppercase;
		font-weight: $font-weight-bold;
		display: block;
		padding: 6px 20px 3px 20px;
	}

	&__caret {
		display: inline-block;
		width: 0;
		height: 0;
		margin-left: 2px;
		vertical-align: middle;
		border-top: 4px dashed;
		border-right: 4px solid transparent;
		border-left: 4px solid transparent;
	}

	&__divider {
		height: 1px;
		margin: 5px 0;
		overflow: hidden;
		background-color: #E5E5E5;
	}

	&__item {
		& > a {
			display: block;
			padding: 6px 20px;
			clear: both;
			font-weight: normal;
			line-height: 1.42857143;
			color: #333333;
			white-space: nowrap;

			&:hover,
			&:focus {
				text-decoration: none;
				color: #262626;
				background-color: #F5F5F5;
			}
		}

		&.is-active {
			& > a,
			& > a:hover,
			& > a:focus {
				color: #FFFFFF;
				text-decoration: none;
				outline: 0;
				background-color: #337AB7;
			}
		}
	}

	&__toggle {
		&:focus {
			outline: 0;
		}
	}

	&.open {
		.dropdown__menu {
			display: block;
			@include opacity(1);
			visibility: visible;
			@include transform-translate-y(0);

			& > a {
				outline: 0;
			}
		}
	}

	/* Dropdown that resembles a select input */

	&--select {
		& > button {
			@extend .form__control;
			cursor: pointer;
			background: #FFFFFF url("data:image/svg+xml,%3Csvg viewBox='0 0 30 30' width='30px' height='30px' preserveAspectRatio='xMinYMid' xmlns='http://www.w3.org/2000/svg' fill-rule='evenodd' clip-rule='evenodd' stroke-linejoin='round' stroke-miterlimit='1.414'%3E%3Cpath d='M19.73 12.35c-.4-.4-.9-.4-1.35 0l-3.4 3.25-3.35-3.25c-.45-.4-.998-.4-1.348 0-.4.4-.35 1.05 0 1.4.35.35 4.05 3.9 4.05 3.9.2.2.45.3.7.3.25 0 .5-.1.7-.3 0 0 3.7-3.5 4.05-3.9.3-.35.3-1-.05-1.4z' fill='%23444' fill-rule='nonzero'/%3E%3C/svg%3E") no-repeat right center;

			&:focus {
				border-color: #CCCCCC;
				box-shadow: none;
				background-color: #FFFFFF;

				&:hover {
					@extend .form__control:focus;
				}
			}
		}

		&.open {
			& > button:focus {
				@extend .form__control:focus;
			}
		}

		.dropdown__menu {
			width: 100%;

			&:before {
				display: none;
			}
		}

		/* Dropdown Sizes */

		&.dropdown--xs > button {
			@extend .form__control--xs;
		}

		&.dropdown--sm > button {
			@extend .form__control--sm;
		}

		&.dropdown--md > button {
			@extend .form__control--md;
		}

		&.dropdown--lg > button {
			@extend .form__control--lg;
		}
	}
}

.dropdown-backdrop {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	z-index: 990;
}

.u-pull--right > .dropdown__menu {
	right: 0;
	left: auto;
}

@media (min-width: 768px) {
	.navbar-right .dropdown-menu {
		left: auto;
		right: 0;
	}
	.navbar-right .dropdown-menu-left {
		left: 0;
		right: auto;
	}
}




