/* 
-----------------------------------------------------------------
Tabs
-----------------------------------------------------------------
*/

.tabs {
	/* Tabs Navigation */

	&__nav {
		position: relative;
		z-index: 1;

		&:after {
			display: table;
			clear: both;
			content: "";
		}
	}

	/* Tabs Navigation - Links */

	&__link {
		border: 1px solid #DDDDDD;
		width: 100%;
		margin-bottom: -1px;

		&.active {
			border-bottom: 1px solid #FFFFFF;

			a {
				color: #333333;
				border-top: 3px solid #C90107;

				&,
				&:hover,
				&:focus {
					cursor: default;
					background-color: #FFFFFF;
				}
			}
		}

		& > a {
			line-height: 1.5;
			color: #888888;
			background: #F4F4F4;
			position: relative;
			display: block;
			padding: 1rem 2rem;
			font-weight: 700;
			text-decoration: none;
			border-top: 3px solid #AAAAAA;
			overflow: hidden;
			text-overflow: ellipsis;

			&:hover {
				text-decoration: none;
			}

			&:last-child {
				border-right: 1px solid #DDDDDD;
			}
		}
	}

	/* Tabs Content */

	&__content {
		padding: 2rem;
		border: 1px solid #DDDDDD;
		z-index: 0;
	}

	&__pane {
		display: none;

		&.active {
			display: block;
		}
	}
}


@media only screen and (min-width : 768px) {
	.tabs {
		&__nav {
			display: flex;
		}

		&__link {
			margin-bottom: -1px;
			border-right: none;
			width: auto;
			float: left;

			&:last-child {
				border-right: 1px solid #DDDDDD;
			}
		}
	}
}





